body{
    background-color: antiquewhite;
}
   
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   text-decoration: none;
}
    
li{
    float:left;

}
li a{
    display: table;
    color: white;
    text-align:center ;
    padding: 14px 16px;
}
.ele{
    color: cornflowerblue;
}